{% extends 'base_layout.html' %}

{% block page_title %}{{ _('Add Relation') }} - {{ revision }}{% endblock %}
{% block breadcrumb %} / {{ _('Revisions') }} / {{ revision }} / {{ _('Add Relation') }}{% endblock %}

{% block content %}
<div class="plmsys-hero">
    <h1>{{ _('Add Relation') }}</h1>
    <p class="plmsys-muted">
        {{ revision.business_object.object_number }} &mdash;
        {{ revision.business_object.name }} ({{ revision.revision_id }})
    </p>
</div>

<form method="post" class="form-horizontal" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label class="col-sm-3 control-label">{{ _('Relationship') }}</label>
        <div class="col-sm-6">{{ form.relationship_type(class_='form-control') }}</div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{ _('Target object') }}</label>
        <div class="col-sm-6">
            {{ form.target(class_='form-control') }}
            <p class="help-block">{{ _("The target object's current revision is linked.") }}</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <button type="submit" class="btn btn-primary">{{ _('Create') }}</button>
            <a class="btn btn-default" href="{{ url_for('RevisionRelationsView.relations', pk=revision.id) }}">{{ _('Cancel') }}</a>
        </div>
    </div>
</form>
{% endblock %}
